h5 {
  margin-top: 25px;
  margin-bottom: 0;
  color: #27296d;
  font-weight: 400;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.Synonyms {
  margin-top: 5px;
  margin-left: 0;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  padding-right: 15px;
}
